* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
    text-decoration: none;


}



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;


}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    letter-spacing: -2px;

}

header .logo span {
    color: #d4b895;
    font-weight: 400;
}

header .navbar a {
    font-size: 2rem;
    margin: 0 1.5rem;
    color: #333;
    padding-bottom: 1rem;
}

header .navbar a:hover {
    color: #d4b895;
    border-bottom: 1px solid #d4b895;

}

header .navbar .active {
    color: #333;


}

header .navbar .active:hover {
    color: #333;


}



header .member-btn a {
    background-color: black;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-weight: 500;
}

header .member-btn a:hover {
    background-color: #d4b895;
    color: #333;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;

}



.home {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: url(../images/home.PNG) rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    min-height: 650px;
}

.content {
    margin-top: 200px;
    text-align: center;
    line-height: 80px;



}

.content h1 {
    font-size: 40px;
    color: #fff;
    line-height: 35px;
    margin-bottom: 50px;



}

.content h1 span {
    color: #d4b895;
    font-weight: 400;
}

.content p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 22px;

}


.content a {
    padding: 1rem 3rem;
    background-color: #fff;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

.content a:hover {

    background-color: black;
    color: #fff;


}

/* discover what moves you section */
.move {
    margin-top: 25px;
    text-align: center;
}

.move h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.move p {
    font-size: 20px;
    margin: 0 auto;
    line-height: 30px;
    padding-left: 10%;
    padding-right: 10%;

}


/*class container*/

.container {

    padding: 15px 9%;
    padding-bottom: 100px;

}



.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}



.container .box-container .box img {
    width: 280px;
    height: 200px
}

.container .box-container .box h3 {
    color: black;
    font-size: 20px;
    padding: 10px 0;
}

.container .box-container .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

/*Skewed section*/

.skewed-section {


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.skewed-section small {
    color: black;
    font-size: 14px;
    font-weight: 600;


}

.skewed-section h1 {
    font-size: 22px;
    color: black;
}

.skewed-section p {
    margin: 0;
    color: #333;
    font-size: 16px;
    line-height: 24px;


}

.skewed-section .skewed {

    display: flex;
    margin: 0;

}

.skewed-section .text {
    color: #777;
    padding: 1.5em;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.skewed-section .image {
    width: 50%;
    height: 40em;
    position: relative;
    overflow: hidden;
}



.skewed-section a {
    padding: 1rem 3rem;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;

    letter-spacing: 3px;
}

.skewed-section a:hover {
    padding: 1rem 3rem;
    background-color: #d4b895;
    font-size: 16px;
    color: black;
    text-transform: uppercase;

    letter-spacing: 3px;
}

/*contact SEction*/

.section {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    background: url(../images/full-shot-happy-woman-indoors.jpg) rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;

}

.container-two {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section-header {
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}

.section-header p {
    color: #FFF;
    font-size: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    width: 50%;
}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
}

.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: #d4b895;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p {
    color: #FFF;
    font-size: 1.5em;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span {
    color: #333;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: black;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
    background: #d4b895;
    color: black;
}

hr {
    border-top: 2px solid #969494;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 30px;
}



footer {
    margin-top: 50px;
    height: 100px;

}

.footer-link {
    text-align: center;
}

.footer-link>li {
    display: inline;
}

.footer-link a {
    color: #333;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
}

.footer-link i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

footer h3 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    letter-spacing: 2px;
}

.space {
    min-height: 60px;
    background-color: #FFF;
}

.head {
    padding: 80px;
    background-color: #e5e5e5;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    margin-top: 100px;
}



.instructor .button {

    border: 1px solid black;
}

.instructor {
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;


}

.instructor h1,
.instructor p {
    color: black;
}


/*Review section*/


#slider {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

.slide-content {
    line-height: 50px;
}


.slide-content h2 {
    font-size: 14px;
    font-weight: 300;

}

.slide-content p {
    font-size: 20px;
    font-weight: 700;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#overflow-slider {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #333;
}

/*review container*/

.review-container {

    margin-top: 100px;
    padding: 15px 9%;
    padding-bottom: 100px;

}



.review-container .box-review {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    display: flex;
    justify-content: space-between;

}

.review-container .box-review .box {
    padding-right: 80px;
    padding-left: 80px;


}




.review-container .box-review .box h3 {
    color: black;
    font-size: 26px;
    padding: 10px 0;
}

.review-container .box-review .box p {
    color: #777;
    font-size: 18px;
    line-height: 1.8;
}


.about-section {
    background: url(../images/full-shot-happy-woman-indoors.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding-top: 150px;
    margin-top: 80px;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #e5e5e5;
    padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.inner-container span {
    color: #d4b895;
    font-weight: 500;
}

.about-text {
    font-size: 18px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}






/*instructores pictures*/

.container .box-container-instructor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container-instructor .box {
    margin-bottom: 40px;
}

.container .box-container-instructor .box img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.container .box-container-instructor .box h3 {
    color: black;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}




/*member singin*/


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    font-size: 35px;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: black;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: vlack;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: black;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: black;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: black;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}
























@media (max-width:991px) {

    html {
        font-size: 55%;

    }

    header {
        padding: 2rem;
    }


    .section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row {
        flex-direction: column;
    }

    .contact-info {
        margin-bottom: 40px;
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    .review-container .box-review {
        display: block;


    }




    .review-container .box-review .box h3 {
        color: black;
        font-size: 33px;
        padding: 10px 0;
        text-align: center;
    }

    .review-container .box-review .box p {
        color: #777;
        font-size: 27px;
        line-height: 1.8;
        text-align: center;
    }

}

@media (max-width:768px) {

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fbf9f6;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    header .member-btn a {
        letter-spacing: normal;
    }

    .content h1 {
        font-size: 30px;
    }

    .content p {
        font-size: 14px;
    }

    .move h1 {
        font-size: 22px;
    }

    .move p {
        font-size: 14px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container {
        padding: 60px;

    }

    .container .box-container .box img {
        width: 380px;
        height: 250px
    }

    .skewed-section .skewed {
        display: block;

    }

    .skewed-section .image,
    .skewed-section .text {
        width: 100%;
        height: 300px;
    }




    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(4),
    #slide4:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(4),
    #slide4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }

    #slides .slide-content p {
        font-size: 12px;
    }

    .review-container {
        width: 100%;

    }

    .review-container .box-review {
        display: block;


    }




    .review-container .box-review .box h3 {
        color: black;
        font-size: 33px;
        padding: 10px 0;
        text-align: center;
    }

    .review-container .box-review .box p {
        color: #777;
        font-size: 27px;
        line-height: 1.8;
        text-align: center;
    }

    .container .box-container-instructor .box img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }


}



/*text in the middle of a line*/

.h1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.h1:before,
.h1:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.h1:before {
    margin-right: 10px
}

.h1:after {
    margin-left: 10px
}


@media (max-width:450px) {

    html {
        font-size: 50%;


    }

        header .member-btn a{
                padding: 5px;
        
                font-size: 10px;
                letter-spacing: 2px;
               
            
        }

                







    .container {
        padding: 60px;

    }

    .container .box-container .box img {
        width: 320px;
        height: 220px
    }

    .skewed-section .skewed {
        display: block;

    }

    .skewed-section .image,
    .skewed-section .text {
        width: 100%;
        height: 300px;
    }


}


@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }

    .review-container .box-review {
        display: block;


    }




    .review-container .box-review .box h3 {
        color: black;
        font-size: 33px;
        padding: 10px 0;
        text-align: center;
    }

    .review-container .box-review .box p {
        color: #777;
        font-size: 27px;
        line-height: 1.8;
        text-align: center;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;
    }
}